// ------------------------------------
// Core imports
// ------------------------------------

@import 'susy';
@import 'breakpoint';
@import 'partials/base';

// ------------------------------------

#media-library-container {
	width: 100%;
	// padding: 10px 0;
	background: #f9f9f9;
	-webkit-animation-duration: 20s;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-name: media-library-container;
}

#media-library-animation {
	position: relative;
	width: 1080px;
	height: 500px;
	margin: 0 auto;

	.media-library-scroll, .overlay, .cursor, .media-library-editor, .media-library-nav {
		position: absolute;
		top: 0;
		-webkit-animation-duration: 20s;
		-webkit-animation-delay: 2s;
		-webkit-animation-iteration-count: infinite;

		-webkit-animation-fill-mode: forwards;
		// -webkit-animation-timing-function: steps(20, end) infinite;
	}

	.overlay {
		text-align: center;
		width: 186px;
		top: 190px;
		left: 347px;
		visibility: hidden;
		text-transform: uppercase;
		-webkit-animation-name: media-library-overlay;
		vertical-align: middle;
		i {
			font-style: normal;
			font-family: Percocons;
			font-size: 16px;
			width: 16px;
			height: 16px;
		}
		.icon-bubble:before {
			content: "\e022";
		}
		.icon-info:before {
			content: "\e089";
		}
		.icon-edit:before {
			content: "\e028";
		}
		span {
			display: inline-block;
			background: #fff;
			font-size: 13px;
			font-family: 'Futura W01 Bold', Arial, sans-serif;
			padding: 6px 10px;
			font-size: 13px;
			line-height: 1.38461541;
			color: #999;
			&.orange {
				color: #fff;
				background: #f16421;
			}
		}
	}

	.media-library-nav {
		width: 100%;
		height: 43px;
		background-image: url('../img/media_library_navbar.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		z-index: 100;
		-webkit-animation-name: media-library-nav;
	}

	.media-library-scroll {
		width: 100%;
		height: 500px;
		background-image: url('../img/media_library.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		-webkit-animation-name: media-library-scroll;
	}

	.cursor {
		position: absolute;
		visibility: hidden;
		width: 20px;
		height: 20px;

		background-image: url('../img/hand-cursor.png');
		background-repeat: no-repeat;
		background-size: contain;
		// border: 1px solid #fff;
		// background-color: #f16421;
		// box-shadow: 0 0 30px 1px #333;

		-webkit-animation-name: media-library-cursor;
	}

	.media-library-editor {
		visibility: hidden;
		width: 100%;
		height: 500px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.media-library-editor-1 {
		background-image: url('../img/editor-1.jpg');
		-webkit-animation-name: media-library-editor-1;
	}
	.media-library-editor-2a {
		background-image: url('../img/editor-2a.jpg');
		-webkit-animation-name: media-library-editor-2a;
	}
	.media-library-editor-2b {
		background-image: url('../img/editor-2b.jpg');
		-webkit-animation-name: media-library-editor-2b;
	}
	.media-library-editor-3 {
		background-image: url('../img/editor-3.jpg');
		-webkit-animation-name: media-library-editor-3;
	}
	.media-library-editor-4 {
		background-image: url('../img/editor-4.jpg');
		-webkit-animation-name: media-library-editor-4;
	}
	.media-library-editor-5 {
		background-image: url('../img/editor-5.jpg');
		-webkit-animation-name: media-library-editor-5;
	}
}

@-webkit-keyframes media-library-container {
	0% {
		background: #f9f9f9;
	}
	29% {
		background: #f9f9f9;
	}
	29.1% {
		background: #3c3c3e;
	}
	89.9% {
		background: #3c3c3e;
	}
	90% {
		background: #f9f9f9;
	}
	100% {
		background: #f9f9f9;
	}
}

@-webkit-keyframes media-library-scroll {
	// 0s
	0% {
		background-position: top;
	}

	// 2s
	10% {
		background-position: 0 -780px;
	}

	29% {
		visibility: visible;
	}
	30% {
		visibility: hidden;
		background-position: 0 -780px;
	}
	90% {
		background-position: top;
	}
	// 20s
	100% {
		background-position: top;
	}
}

@-webkit-keyframes media-library-nav {
	0% {
		visibility: visible;
	}
	28% {
		visibility: visible;
	}
	29% {
		visibility: hidden;
	}
	90% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}

@-webkit-keyframes media-library-cursor {
	0% {
		visibility: hidden;
	}
	13% {
		visibility: hidden;
	}
	14% {
		top: 150px;
		left: 50px;
		visibility: visible;
	}
	20% {
		top: 200px;
		left: 360px;
	}
	29% {
		top: 200px;
		left: 360px;
	}
	32% {
		top: 200px;
		left: 360px;
	}
	35% {
		top: 430px;
		left: 450px;
	}
	42% {
		top: 430px;
		left: 450px;
	}
	45% {
		top: 430px;
		left: 760px;
	}
	52% {
		top: 430px;
		left: 760px;
	}
	55% {
		top: 450px;
		left: 955px;
	}
	62% {
		top: 450px;
		left: 955px;
	}
	65% {
		top: 380px;
		left: 380px;
	}
	72% {
		top: 380px;
		left: 380px;
	}
	75% {
		top: 380px;
		left: 280px;
	}
	84% {
		top: 380px;
		left: 280px;
		visibility: hidden;
	}
	100% {
		top: 200px;
		left: 500px;
		visibility: hidden;
	}
}

@-webkit-keyframes media-library-overlay {
	// 0s
	0% {
		visibility: hidden;
	}

	// 4s
	18.9% {
		visibility: hidden;
	}
	19% {
		visibility: visible;
	}

	// 6s
	29% {
		visibility: hidden;
	}

	// 20s
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes media-library-editor-1 {
	// 0s
	0% {
		visibility: hidden;
	}

	// 6s
	29% {
		visibility: hidden;
	}
	30% {
		visibility: visible;
	}

	40% {
		visibility: hidden;
	}

	// 20s
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes media-library-editor-2a {
	// 0s
	0% {
		visibility: hidden;
	}

	// 6s
	39% {
		visibility: hidden;
	}
	40% {
		visibility: visible;
	}

	50% {
		visibility: hidden;
	}

	// 20s
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes media-library-editor-2b {
	// 0s
	0% {
		visibility: hidden;
	}

	// 6s
	49% {
		visibility: hidden;
	}
	50% {
		visibility: visible;
	}

	60% {
		visibility: hidden;
	}

	// 20s
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes media-library-editor-3 {
	// 0s
	0% {
		visibility: hidden;
	}

	// 6s
	59% {
		visibility: hidden;
	}
	60% {
		visibility: visible;
	}

	70% {
		visibility: hidden;
	}

	// 20s
	100% {
		visibility: hidden;
	}
}


@-webkit-keyframes media-library-editor-4 {
	// 0s
	0% {
		visibility: hidden;
	}

	// 6s
	69% {
		visibility: hidden;
	}
	70% {
		visibility: visible;
	}

	80% {
		visibility: hidden;
	}

	// 20s
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes media-library-editor-5 {
	// 0s
	0% {
		visibility: hidden;
	}

	// 6s
	79% {
		visibility: hidden;
	}
	80% {
		visibility: visible;
	}

	90% {
		visibility: hidden;
	}

	// 20s
	100% {
		visibility: hidden;
	}
}